.mps {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Adjust as needed for your layout */
  
    .mpstext {
        font-weight: 900;
        font-family: 'Raleway', sans-serif;
        padding: 30px;
        margin-top: -80px;
        font-size: 80px;
        text-align: center;
        color: #fff;
    }
  
    form {
      margin-top: -50px;
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      width: 100%;
      max-width: 400px; /* Adjust as needed for your layout */
    }
  
    label {
      margin-bottom: 8px;
    }
  
    input {
      width: 100%;
      padding: 8px;
      margin-bottom: 16px;
      box-sizing: border-box;
    }
  
    #map {
      height: 400px;
      width: 90%;
      margin-top: 30px;
      margin-bottom: 30px;
      border-radius: 30px;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 1;
    }
  
    .suggestions {
      list-style: none;
      padding: 0;
      margin: 0;
      width: 100%;
      max-width: 400px; 
      position: absolute;
      margin-top:  67px; 
      left: 0;
      background: rgba(0, 0, 0, 0.57);
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      border-radius: 0 0 20px 20px;
      z-index: 2; /* Ensure suggestions are on top of the map */ /* Adjust as needed for your layout */
      opacity: 0;
      transition: opacity 0.3s ease-in-out; // Add transition for fade-in and fade-out effect
    
      &.show {
        opacity: 1;
      }
      li {
        padding: 8px;
        margin-bottom: 8px;
        cursor: pointer;
      }
    }
  
  
  }
  